@import url('https://fonts.googleapis.com/css2?family=Lato:ital@0;1&family=Montserrat:wght@500&display=swap');

html, body {
  margin: 0;
  padding: 0;
  background: #05101c;
  color: white;
  font-family: "Lato", serif;
}

.image-inverted {
  filter: invert(100%);
}